#
# This file is part of the AzerothCore Project. See AUTHORS file for Copyright information
#
# This file is free software; as a special exception the author gives
# unlimited permission to copy and/or distribute it, with or without
# modifications, as long as this notice is preserved.
#
# This program is distributed in the hope that it will be useful, but
# WITHOUT ANY WARRANTY, to the extent permitted by law; without even the
# implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
#

########################################
# AzerothShard module configuration
########################################
[worldserver]

#
# PvP rank bonus honor.
#

PvPRank.Rate.ExtraHonor = 1
PvPRank.HKPerRank = 10, 50, 100, 200, 450, 750, 1300, 2000, 3500, 6000, 9500, 15000, 21000, 30000

#
# External mail polling.
#

ExternalMail = 1
ExternalMailInterval = 1

#
# Custom player XP command.
#

Player.customXP.security = 0
Player.customXP.maxValue = 12
Player.customXP.showOnLogin = 1

#
# Arena reward rates.
#

Azth.Rate.Arena1v1 = 0.2

#
# Smartstone features.
#

Azth.Smartstone.Teleport.Enable = 1

#
# Bonus loot multiplier for eligible timewalking/challenge content.
#

Azth.Multiplies.Drop.Enable = 1

#
# Difference between the position level and the player level to disable the reward
# default: 0 (disabled)
#

ChallengeMode.noReward.deltaLevelHigher = 0
ChallengeMode.noReward.deltaLevelLower = 0

#
# Position levels to start checking for the difference between the position and the player level
# default: 0 (disabled)
#

ChallengeMode.noReward.startLevelHigher = 0
ChallengeMode.noReward.startLevelLower = 0
